body {
  background-color: #469d50 ;
}

.home {
  &-title {
      font-family: 'Montserrat Alternates', sans-serif;
      text-align: center;
      color: #fff;
      font-style: normal;
      font-weight: 700;
      font-size: 3rem;
      line-height: 61px;
      text-align-last: center;
      padding: 1rem;
      margin: 4rem 0;
  }

  &-item-title {
    position: absolute;
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 18px;
    bottom: 0;
    padding: 20px;
    left: 0;
  }

  &-item-title:hover{
    transition: left 3s;
  }

  &-header {
    margin: 4rem 0;
  }

  &-description {
    display: flex;
    margin: 3rem 0;
    justify-content: center;
  }

  &-section {
    display: flex;
    justify-content: space-evenly;
    transition: background-color 5s linear;
  }
  &-section:hover {
    background: linear-gradient(90deg,#e44033,#a5170d 94.37%),#4b0c07;
  }

}


.span-title {
  font-style: italic;
  font-weight: 900;
  background-color: #f2f054;
  background-image: linear-gradient(-133deg,#fec85e,#e44034);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Playfair Display;
}

h2 {
  color: #f2f054;
  border-bottom: 1px #e74f39 solid;
}

.description-section {
  margin: 0 1rem;
  width: 45%;
}

.club{
  background-image: url('../../../public/image/club.png')
}
.valombreuses{
  background-image: url('../../../public/image/DomaineValombreuse.png');
}
.paris{
  background-image: url('../../../public/image/Paris.png');
}

.paris,.valombreuses,.club {
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.99;
  overflow: hidden;
  box-shadow: 10px 5px 5px #3c2626
}

.WorkSample{
    transform: scale(1);
    transition: .3s ease-in-out;
}
.WorkSample:hover {
  opacity: 0.5;
  transition: opacity 1s;
  z-index: 9;
}
